[submodule "external/json"]
	path = external/json
	url = https://github.com/nlohmann/json.git
[submodule "external/taskflow"]
	path = external/taskflow
	url = https://github.com/taskflow/taskflow.git
